*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
}

.navegacao{
    width: 100%;
    height: auto;
    background-color: green;
    padding:0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao ul li{
    list-style: none;
}

.navegacao ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
    transition: .4s;
}

.navegacao ul li a:hover{
    background-color: rgb(40, 83, 40);
}

.main{
    margin-top: 70px;
    padding: 0 13%;
}

.main h1{
    margin-bottom: 10px;
}

.informacoes{
    margin-bottom: 50px;
}

